@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.bunny.net/css?family=amita:700);

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Poppins' , sans-serif; 
}

.page-loader{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px;
    background-color: black;
    color: rgb(240, 248, 255);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.showcase .hero-content {
    font-size: 4em;
    position: relative;
    top: 0;
    left: 10;
    width: 100%;
    z-index: 100;
}


.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

.text{
    position: relative;
    z-index: 10;
}

.text p {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text h4 {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_bar_logo {
    flex: 100 30 ;
    text-align: left;
}

.navigation_bar_logo img {
    width: 100%;
    cursor: pointer;
    width: 80px;
    height: auto
}

.navigation_bar a {
    text-decoration: none;
    padding: 10px 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    background: url(https://res.cloudinary.com/ritalbradley/image/upload/v1657644013/pexels-elijah-o_donnell-3473569_o7ohfd.jpg)
        center center/cover no-repeat;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    z-index: 1;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Ensure content is above the video */
    z-index: 1; /* Ensure content is above the video */
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Add transparency to footer */
    color: #440606;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation_bar {
    overflow: hidden;
    padding: 0 20px;
}

.navigation_bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navigation_bar a:hover {
    background-color: #ddd;
    color: black;
}

.hero-container{
    display: flex;
    height: 90vh;
    align-items: center;
    padding: 0;
}

.hero-container .left-container{
    flex: 0 0 60%;
}

.hero-container .right-container{
    flex: 0 0 40%;
}

.hero-title{
    color: white;
    font-size: 72px;
}

section{
    display: flex;
    color: white;
    align-items: center;
    gap: 30px;
    padding: 100px 0;
}

section .section-title{
    font-size: 48px;
}

section img{
    border-radius: 20px;
}

.main-link{
    font-size: 40px;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.main-link a{
    color: unset;
    text-decoration: none;
}


.main-link:hover{
    font-size: 50px;
    color: green;
}


/* Utility Classes */

.flex-reverse{
    flex-direction: row-reverse;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.display-block{
    display: block;
}

.display-flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.g-1{
    gap: 10px;
}

.g-2{
    gap: 20px;
}

.g-3{
    gap: 30px;
}

.g-4{
    gap: 40px;
}

.w-100{
    width: 100%;
}

/* Gallery */
.filter{
    margin: 20px;
    width: fit-content;
    display: flex;
    gap: 0;
}

.filter span{
    background-color: white;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

.filter span.active{
    background-color: lightgrey;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    overflow: hidden;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
    cursor: pointer;
    max-width: 100%;
    display: block;
    transition: all 500ms ease-in-out;
}


figure > img:hover {
    transform: scale(1.1);
}


.gallery {
    column-count: 4;
    column-gap: 10px;
}

.figure-preview{
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 99999;
    display: none;
}

.figure-preview .preview-container{
    display: flex;
    width: 75%;
    height: 75%;
    background-color: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.figure-preview .preview-container .left-container{
    width: 60%;
}


.figure-preview .preview-container .left-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.figure-preview .preview-container .right-container{
    width: 40%;
    padding: 40px;
    display: flex;
    align-items: center;
}

.figure-preview .preview-container .right-container h3{
    font-family: Arial, Helvetica, sans-serif;
}

.figure-preview .close-btn{
    width: 40px;
    height: 40px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 40px;
    top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.figure-preview .toolbar{
    display: flex;
    gap: 20px;
    right: 40px;
    bottom: 40px;
    position: absolute;
    z-index: 99999;
}

.figure-preview .toolbar .colors{
    display: flex;
    gap: 20px;
}

.figure-preview .toolbar .fonts{
    display: flex;
    align-items: center;
    gap: 0;
}

.figure-preview .toolbar .fonts span{
    background-color: lightgrey;
    padding: 10px 20px;
    cursor: pointer;
}


.figure-preview .toolbar .fonts span.active{
    background-color: rgb(143, 140, 140);
}

#clr-picker{
    z-index: 99999;
}

/* Background image and general layout */
.shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 160px;
}

/* Product card styling */
.product {
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    width: calc(25% - 20px);
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h2 {
    margin-top: 0;
    font-size: 18px;
    color: #007bff;
}

.product p {
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
}

.product .price {
    font-weight: bold;
    color: #009688;
    font-size: 16px;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

/* Cart styling */
#cart {
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    transition: all 0.3s ease;
    animation: slideFromTop 0.5s ease;
    z-index: 99999;
}

#cart.open {
    top: auto;
    right: 20px;
    bottom: 20px;
}

#cart .close-btn{
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    background-color: lightgrey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

#cart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.quantity button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity button:hover {
    background-color: #0056b3;
}

.remove {
    background-color: #dc3545;
}

.remove:hover {
    background-color: #bd2130;
}

#empty-cart-message {
    text-align: center;
    margin-top: 10px;
    display: none;
}

#cart-icon {
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 999;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-icon img{
    width: 90%;
}

#checkout-btn,
#next-btn,
#complete-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#checkout-btn:hover {
    background-color: #218838;
}

#cart #user-details,
#cart #payment-details{
    display: none;
}